@page "/servers"

@inject NavigationManager NavigationManager

<h3>Servers</h3>

<br />


<div>
    <a href="/servers/add" class="btn btn-primary">Add Server</a>
</div>

<div class="d-flex mb-5">
    @foreach (var city in cities)
    {
        <div class="card me-3">
            <img src="images/@(city).png" class="card-img-top" alt="...">
            <div class="card-body text-center">
                <button type="button" class="btn btn-primary">@city</button>
            </div>
        </div>
    }
</div>

<ServerComponent @rendermode="InteractiveServer"/>

<ul>
    @foreach (var server in servers)
    {
        <li>
            @server.Name in @server.City is <span style="color:@(server.IsOnline ? "green" : "red")">@(server.IsOnline ? "online" : "offline")</span>
            <a href="/servers/@(server.ServerId)" class="btn btn-link">Edit</a>

            <EditForm 
                Model="server" 
                FormName="@($"form-server-{server.ServerId}")"
                OnValidSubmit="@(() => { DeleteServer(server.ServerId); })">
            
                <button class="btn btn-danger" type="submit">Delete</button>
            
            </EditForm>
        </li>
    }
</ul>


@code {

    private List<Server> servers = ServersRepository.GetServersByCity("Toronto");

    private List<string> cities = CitiesRepository.GetCities();

    private void DeleteServer(int ServerId)
    {
        if(ServerId > 0)
        {
            ServersRepository.DeleteServer(ServerId);
            NavigationManager.Refresh();
        }
    }
}
