@if (Server != null)
{

    // will trigger page refresh
    @* <EditForm Model="Server" FormName="serverComponentForm" OnSubmit="ChangeServerStatus">
        <InputNumber @bind-Value="Server.ServerId" hidden />
        <InputText @bind-Value="Server.Name" hidden />
        <InputText @bind-Value="Server.City" hidden />
        <InputCheckbox @bind-Value="Server.IsOnline" hidden />


        <div>
            @Server.Name is in @Server.City that is <span style="color:@(Server.IsOnline ? "green" : "red")">@(Server.IsOnline ? "online" : "offline")</span>

            <button type="submit" class="btn btn-primary">Turn on/off</button>
        </div>
    </EditForm> *@

    // will trigger fetch api but not reload
    @* <EditForm Enhance="true" Model="Server" FormName="serverComponentForm" OnSubmit="ChangeServerStatus">
        <InputNumber @bind-Value="Server.ServerId" hidden />
        <InputText @bind-Value="Server.Name" hidden />
        <InputText @bind-Value="Server.City" hidden />
        <InputCheckbox @bind-Value="Server.IsOnline" hidden />


        <div>
            @Server.Name is in @Server.City that is <span style="color:@(Server.IsOnline ? "green" : "red")">@(Server.IsOnline ? "online" : "offline")</span>
            
            <button type="submit" class="btn btn-primary">Turn on/off</button>
        </div>
    </EditForm> *@

    // will not trigger page refresh or fetch api; via websockets signalr
    <div>
        @Server.Name is in @Server.City that is <span style="color:@(Server.IsOnline ? "green" : "red")">@(Server.IsOnline ? "online" : "offline")</span>

        <button type="button" class="btn btn-primary" @onclick="ChangeServerStatus">Turn on/off</button>
    </div>

}

@code {

    [SupplyParameterFromForm]
    private Server? Server { get; set; }


    protected override void OnParametersSet()
    {
        Server ??= new Server { Name = "Server 1", City = "Toronto" };
    }


    private void ChangeServerStatus()
    {
        if(Server != null)
        {
            Server.IsOnline = !Server.IsOnline;
        }
    }
}
